@import "tailwindcss";

@layer base {
  :root {
    @apply text-amber-50 bg-fuchsia-900 font-sans;
  }

  body {
    @apply min-w-80 min-h-screen m-0;
  }
}

.layout {
  min-height: 100vh;
  display: grid;
  grid-template:
    "h h h" auto
    ". . ." 16px
    ". m ." 1fr
    ". . ." 16px
    "f f f" auto /
    16px 1fr 16px;
}

header {
  grid-area: h;
}

main {
  grid-area: m;
}

footer {
  grid-area: f;
}
